* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Gotham Book', sans-serif;
  min-height: 100vh; }

@font-face {
  font-family: 'Gotham Book';
  src: url("font/Gotham Book.otf");
  src: local("Gotham Book"), url("font/Gotham Book.otf") format("woff"), url("font/Gotham Book.otf") format("truetype"); }
.container {
  max-width: 1903px;
  margin: 0 auto;
  position: relative;
  top: 210px; }

.content {
  max-width: 1530px;
  margin: 0 auto; }

.banner img {
  width: 100%; }

.firstPart {
  position: relative;
  left: 82px;
  top: 30px;
  display: inline-block; }
  .firstPart span p {
    color: #ffef3a;
    font-weight: bold;
    font-size: 46px;
    margin: 0; }
  .firstPart span:nth-of-type(1) {
    position: absolute;
    top: 94px;
    font-size: 46px;
    left: 8px;
    font-weight: bold;
    color: white;
    line-height: 23px; }
  .firstPart span:nth-of-type(2) {
    position: absolute;
    font-size: 25px;
    color: white;
    border: 1px solid black;
    background: black;
    padding: 19px 42px;
    top: 17px;
    right: -294px; }
  .firstPart span:nth-of-type(3) {
    padding: 18px 2px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background: white;
    position: absolute;
    top: 169px;
    transform: rotate(15deg);
    text-align: center;
    font-size: 17px;
    right: -170px; }
    .firstPart span:nth-of-type(3) img {
      transform: rotate(-19deg); }

.midPart {
  position: relative;
  right: -435px;
  top: -305px;
  display: inline-block; }
  .midPart span {
    color: #ffef3a;
    font-weight: bold;
    font-size: 46px;
    margin: 0; }
    .midPart span p {
      color: black;
      font-size: 21px;
      font-weight: normal; }
    .midPart span:nth-of-type(1) {
      position: absolute;
      top: 94px;
      font-size: 136px;
      color: #ffef3a;
      line-height: 26px; }

.productsList, #products {
  padding: 0;
  margin: 0 auto; }
  .productsList .singleProduct, #products .singleProduct {
    position: relative;
    border: 1px solid #d5d3cd;
    margin: 6px;
    display: none;
    height: 400px;
    width: calc(100% / 2 - 12px);
    transition: 300ms ease-in-out  all; }
    .productsList .singleProduct.visible, #products .singleProduct.visible {
      display: inline-block; }
    .productsList .singleProduct:hover, #products .singleProduct:hover {
      border: 1px solid #000000; }
    .productsList .singleProduct a, #products .singleProduct a {
      cursor: pointer; }
    .productsList .singleProduct p, #products .singleProduct p {
      border: 1px solid red;
      display: inline-block;
      padding: 4px 2px;
      color: red;
      position: absolute;
      top: -1px;
      margin: 0;
      font-size: 13px;
      width: 100%;
      text-align: center; }
      .productsList .singleProduct p span, #products .singleProduct p span {
        font-weight: bold; }
    @media (min-width: 768px) {
      .productsList .singleProduct, #products .singleProduct {
        height: 460px;
        border: 1px solid #d5d3cd;
        margin: 15px;
        width: calc(100% / 3 - 34px); } }
    @media (min-width: 960px) {
      .productsList .singleProduct p, #products .singleProduct p {
        padding: 9px 10px;
        right: -1px;
        width: 58%; } }
    @media (min-width: 1200px) {
      .productsList .singleProduct, #products .singleProduct {
        width: calc(100% / 4 - 34px); } }

.prodImage {
  position: absolute;
  top: 30%;
  left: 8%; }
  .prodImage img {
    max-width: 100%; }

.productInfo {
  position: absolute;
  bottom: 12px;
  margin-left: 11px; }
  .productInfo a {
    text-decoration: none;
    color: black; }
  .productInfo h2 {
    font-size: 13px;
    min-height: 36px;
    line-height: 19px;
    font-weight: bold; }
  .productInfo .priceNew {
    color: red;
    font-weight: bold;
    font-size: 17px;
    margin: 0; }
    @media (min-width: 768px) {
      .productInfo .priceNew {
        font-size: 21px; } }
  .productInfo .priceOld {
    font-size: 14px;
    text-decoration: line-through; }
    @media (min-width: 768px) {
      .productInfo .priceOld {
        font-size: 15px; } }
  .productInfo .nameBrand {
    margin: 0; }
    .productInfo .nameBrand a {
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      color: #979797;
      text-decoration: none; }

.cartBox {
  display: flex;
  position: absolute;
  top: 29px;
  left: 9px;
  align-items: center; }
  @media (min-width: 960px) {
    .cartBox {
      top: 10px; } }
  @media (min-width: 1400px) {
    .cartBox {
      top: 10px; } }
  .cartBox span {
    margin-left: 10px;
    font-size: 12px; }
    @media (min-width: 960px) {
      .cartBox span {
        margin-left: 10px;
        font-size: 14px; } }

#productsMenu {
  padding: 17px; }
  #productsMenu b {
    cursor: pointer;
    padding: 8px;
    border: 1px solid black;
    transition: 0.4s all; }
    #productsMenu b:hover {
      background-color: #EA2423;
      color: white; }

.titleBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 16px 0 0 0; }

.timeBox {
  display: flex;
  align-items: center; }
  .timeBox p {
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 15px;
    font-weight: normal; }
    @media (min-width: 768px) {
      .timeBox p {
        font-size: 20px; } }
    .timeBox p span {
      font-weight: bold; }

.alertBox {
  display: flex;
  align-items: center; }
  .alertBox p {
    margin-left: 15px;
    font-size: 15px; }
    @media (min-width: 768px) {
      .alertBox p {
        font-size: 20px; } }

/*# sourceMappingURL=styles.css.map */
